body {
    background-color: rgb(200, 211, 223);
}

h1.flights-index {
    text-align: center;
    background-color: #398ee7;
    margin: 0;
    padding: 15px;
}

.flights-index.flight-search-form {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.flights-index.flight-search-form .form-fields {
    display: flex;
    gap: 30px;
    text-align: center;
}

.flights-index.flight-search-form .form-fields select {
    width: 150px;
    height: 40px;
    text-align: center;
    border: 2px inset #5c7a99;
    border-radius: 5px;
}

.flights-index.submit-button {
    width: 200px;
    height: 50px;
    background-color: #23476c;
    border-radius: 10px;
    border: 0;
    color: white;
    box-shadow: 2px 2px 3px #5c7a99;
}

.flights-index.submit-button:hover {
    background-color: white;
    border: 4px outset #7197bd;
    color: black;
    cursor: pointer;
}

.flights-index.submit-button:active {
    border: 4px inset #7197bd;
    background-color: #cbcbcb;
}

.flights-index.flight-selection-form, .flights-index.flight-not-found {
    text-align: center;
}

.flights-index.flight-selection-form {
    padding: 15px;
}

.flights-index.flight-selection-form h2 {
    margin-top: 0;
}

.flights-index.flight-not-found p {
    font-size: 1.2em;
}

.flights-index.flight-selection-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
}

.flights-index.flight-selection-list label{
    display: flex;
    gap: 15px;
    width: 300px;
    text-align: left;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
    box-shadow: 3px 3px 5px #5c7a99;
}

.flights-index.flight-selection-list label:hover {
    background-color: #398ee7;
}

.flights-index.flight-selection-list label input {
    width: 40px;
}

.flights-index.flight-selection-input-info {
    width: 100%;
}

.flights-index.flight-selection-airport-info {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.flights-index.flight-selection-airport-info > p {
    margin: 0;
}