/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

body {
    background-color: rgb(200, 211, 223);
    color: #242424;
    font-family: 'Nunito Sans', sans-serif;
}

.submit-button {
    width: 200px;
    height: 50px;
    background-color: #2b547c;
    border-radius: 10px;
    border:  2px outset #23476c;
    color: white;
    box-shadow: 2px 2px 3px #5c7a99;
    font-size: 1.5em;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #d4d4d4;
    color: black;
    cursor: pointer;
}

.submit-button:active {
    border: 2px inset #7197bd;
    background-color: #b0b0b0;
}